.container {
  border: 1px solid var(--foreground);
  padding: 1rem;

  h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
}

.capitalize {
  &::first-letter {
    text-transform: capitalize;
  }
}

.notFoundContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--foreground);
  box-sizing: border-box;
}
