.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  padding: 12px 12px 8px 12px;

  @include bp.tablet {
    padding: 20px;
  }

  @include bp.desktop {
    padding: 48px 48px 51px 48px;
  }
}

.md {
  border-radius: 20px;
}

.lg {
  border-radius: 40px;
}

.light-grey {
  background-color: var(--color-background2);
}

.grey {
  background-color: var(--color-background1);
}

.black {
  background-color: var(--color-background);
}
