.header {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  border: 1px solid var(--foreground);
  // margin: 0 1rem;
  margin-top: 0.5rem;
  color: var(--foreground);

  .logo {
    font-size: 1.5rem;
    font-weight: bold;
  }

  .middleSection {
    flex-grow: 1;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: flex-end;
  }
}
