@use 'sass:math';

$bg-color: oklch(255 0 0 / 0.2);
$radius: 1rem;
$big-radius: math.div($radius, 2) * 3;

.container {
  display: block;
  width: 100%;
  position: relative;

  .topContainer {
    display: flex;
    align-items: stretch;
    position: relative;

    .topContent {
      flex-shrink: 0;
      padding: 0 2rem 1rem 1rem;
    }

    .space {
      flex-grow: 1;
      background-color: $bg-color;
      border-radius: $radius $radius 0 0;
      position: relative;

      &::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: -$big-radius;
        width: $big-radius;
        height: $big-radius;
        background-color: $bg-color;
        mask-image: radial-gradient(
          circle at top left,
          transparent 0%,
          transparent $big-radius,
          black $big-radius,
          black 100%
        );
        mask-mode: alpha;
      }
    }
  }

  .content {
    background-color: $bg-color;
    padding: 1rem;
    border-radius: $radius 0 $radius 0;
  }

  .bottomContainer {
    display: flex;
    align-items: stretch;
    position: relative;

    .bottomContent {
      flex-shrink: 0;
      padding: 1rem 1rem 0 2rem;
      position: relative;
    }

    .space {
      flex-grow: 1;
      background-color: $bg-color;
      border-radius: 0 0 $radius $radius;
      position: relative;

      &::after {
        content: '';
        position: absolute;
        top: 0;
        right: -$big-radius;
        width: $big-radius;
        height: $big-radius;
        background-color: $bg-color;
        mask-image: radial-gradient(
          circle at bottom right,
          transparent 0%,
          transparent $big-radius,
          black $big-radius,
          black 100%
        );
        mask-mode: alpha;
      }
    }
  }
}
