.footer {
  display: flex;
  padding: 1rem;
  border: 1px solid var(--foreground);
  margin: 0 1rem;
  margin-bottom: 0.5rem;
  font-size: smaller;
  text-align: right;
  justify-content: flex-end;
}
