.mobileMenuContainer {
  border: none;
  width: 18px;
  height: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-white);
  outline: none;
  background-color: transparent;
  cursor: pointer;

  @include bp.tablet {
    width: 28px;
    height: 20px;
  }

  @include bp.desktop {
    display: none;
  }
}

.menuContainer {
  background-color: var(--color-background);
  border: none;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 0;
  color: var(--color-white);
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  width: 139px;

  @include bp.tablet {
    width: 185px;
  }
}

.link {
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0 12px;
  font-size: 14px;
  font-weight: bold;
  outline: none;
  height: 44px;
  line-height: 1;
}
