.container {
  border: 1px dashed var(--color-foreground-light1);
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
}

.props {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  font-size: 1rem;

  pre {
    font-size: 1.2rem;
    display: inline;
  }
}

.components {
  margin-top: 2rem;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}
